body
{
    font-family:Verdana, Geneva, sans-serif;
}
table
{
    border:outset;
    width:100%
}
td
{
    border:inset;
	font-size:16px;
}
td.markCell
{
    background-image:url(img/bullet_12x12.gif);
    background-repeat:no-repeat;
    background-position:center;
    color:Black;
}
thead
{
    font-weight:bold;
    text-align:center;
}
h1,h2
{
    padding:0;
    margin:0;
    text-align:center;
}
thead td.takenValue
{
	background-color:lime;
}
.Conflict
{
	background-color:red;
	color:yellow;
}
.status-del
{
    background-color:#FFCF00;
}
.status-add
{
    background-color:#CFFF00;
}
textarea.legacy
{
    font-family:Lucida Console;
    width:90%;
    height:30;
}
.noChange
{
	color:GrayText;
}
.dstOnlyChg
{
	color:#448;
}
.selected
{
	background-color:Highlight;
	color:HighlightText;
}
