
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding:0px;

}
a.ex2:hover,a.ex2:active {font-size:large;}
.para
{
font-family : Tahoma;
font-size : 10pt;
text-align : justify;
}

.Mheading
{
    
 font-family : Tahoma;
 font-size :16pt;
text-align : justify;
}

.tximage
{
 height :218px;
 width : 350px;    
   

}

.imgcap
{
   text-align : center;
     
}

.simout
{
  height :417px;
 width : 627px;  
    
}

.index
{
font-family : Tahoma;
font-size : 10pt;
text-align : justify;
}


#borderContainer {
    width: 100%;
    height: 100%;
}


#OuterMost1 {width: 100%;height:100%;}
#TOP {width: 100%;height:100%;}

#tframe {width: 100%;height:100%; margin:0;}
#iframe_id {width: 100%;height:99%; margin:0px;padding:0px}
#left {
font-family : Tahoma;
font-size : 10pt;
text-align : justify;
}