/* Layout plugin styles */

.sectionMacro,
.sectionMacro p,
.sectionMacro ul,
.sectionMacro ol {
    font-size: 10pt;
}

table.sectionMacro > tbody > tr > td {
    border: none;
}

table.sectionMacro > tbody > tr > td + td,
table.sectionMacroWithBorder > tbody > tr > td + td { 
    padding-left: 14px;
}

table.sectionMacroWithBorder > tbody > tr > td {
    border-style: dashed;
    border-width: 1px;
    border-color: #ccc;
    padding-right: 14px;
}

table.sectionMacroWithBorder > tbody > tr > td:last-child {
    border-style: dashed;
    border-width: 1px;
    border-color: #ccc;
    padding-right: 0px;
}