/*
    Styles for macros bundled in Renderer.
*/

.panelMacro {
    margin: 10px 20px;
    overflow: hidden; /* fix width next to floated content */
}

.panelMacro > table {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 10px 10px 20px;
    text-align: left;
    width: 100%;
}

.panelMacro > table > tr > td,
.panelMacro > table > tbody > tr > td {
    font-size: 1em;
    padding: 0;
}

.panelMacro > p:first-child,
.panelMacro > table > tr > td > *:first-child,
.panelMacro > table > tbody > tr > td > *:first-child {
    margin-top: 0;
}

.panelMacro > p:last-child,
.panelMacro > table > tr > td > *:last-child,
.panelMacro > table > tbody > tr > td > *:last-child {
    margin-bottom: 0;
}

.wiki-content .panelMacro p {
    font-size: 1em;
}

.searchMacro {
    font-size: 10pt;
    margin: 10px 0;
}

.searchMacro .result {
    margin-top: 3px;
    padding: 0 5px 5px 5px;
    border-bottom: 1px solid #ddd;
}

.searchMacro .resultSummary {
    margin-bottom: 7px;
}

.rssMacro {
    font-size: 10pt;
}

.rssMacro table {
    margin: 10px 0;
    width: 100%;
    border-collapse: collapse;
}

.rssMacro table th,
.rssMacro table td {
    border: 1px solid #ccc;
    padding: 4px;
}

.rssMacro table th {
    background: #f0f0f0;
}

/* Code styles */
.code {
    border-width: 1px;
    border-style: dashed;
}

.code, .preformatted {
    background-color: #fff;
    overflow: auto;
}

.code pre, .preformatted pre { /* needs 'pre' to override TinyMCE style */
    font-family:"Courier New", Courier, monospace;
    line-height: 1.3;
}

/* The code macro classes are overridden by the fixed width theme so have been
   made more specific. */

.wiki-content .code-keyword {
  color: #000091;
  background-color: inherit;
}

.wiki-content .code-object {
  color: #910091;
  background-color: inherit;
}

.wiki-content .code-quote {
  color: #009100;
  background-color: inherit;
}

.wiki-content .code-comment {
  color: #808080;
  background-color: inherit;
}

.wiki-content .code-xml .code-keyword {
  color: inherit;
  font-weight: bold;
}

.wiki-content .code-tag {
  color: #000091;
  background-color: inherit;
}

/* Recently Updated Styles */
.recentlyUpdatedItem {
	border-bottom: #f0f0f0 1px solid;
	border-top: #f0f0f0 1px solid;
	margin: 10px 0 0 0;
	padding: 0;
	border-spacing: 0;
	width: 100%;
    text-decoration: none;
    border-collapse: collapse;
}

.recentlyUpdatedItem td {
    padding: 10px;
    border-bottom: #f0f0f0 1px solid;
    vertical-align: top;
}

.recentlyUpdatedItem .authorAndDate {
	background-color: #f0f0f0;
	width: 25%;
}

.recentlyUpdatedItem .date {
    margin-top: 4px;
    font-size: 90%;
    color: #666;
}

.recentlyUpdatedItem .profilePic {
    float: right;
    background-color: #f0f0f0;
    margin: 0 2px;
}

.recentlyUpdatedItem .twixie {
    padding: 10px 0 0 4px;
}

.recentlyUpdatedItem td.icon {
    padding: 8px 0 0 1px;
}

.recentlyUpdatedItem .details {
    padding-left: 7px;
}

.recentlyUpdatedItem .summary, .recentlyUpdatedItem .thumbnail {
    margin-top: 3px;
    color: #666;
}

.moreRecentlyUpdatedItems {
    text-align: right;
    margin-top: 10px;
    font-size: 10pt;
}
