table.confluenceTable th.confluenceTh,
table.confluenceTable td.confluenceTd {
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    padding: 5px 7px;
    vertical-align: top;
    min-width: 0.6em;
    text-align: left;
}

table.confluenceTable th.confluenceTh,
table.confluenceTable th.confluenceTh > p,
table.confluenceTable td.confluenceTd.highlight,
table.confluenceTable td.confluenceTd.highlight > p {
    background-color: #f0f0f0;
    font-weight: bold;
}

table.confluenceTable th.confluenceTh.nohighlight,
table.confluenceTable th.confluenceTh.nohighlight > p {
    font-weight: normal;
    color: #000;
    background-color: transparent;
    font-weight: normal;
}