.gwt-DialogBox {
    border: 0.2em solid #b4cde6;
}

.gwt-DialogBox .Caption {
    background: #b4cde6;
    padding: 0.35em 0.3em 0.3em 0.3em;
    cursor: default;
    border-bottom: 0.0625em solid #bbbbbb;
}

.gwt-DialogBox .Content {
    background: white;
}

.gwt-DialogBox .dialogMiddleCenter {
    padding: 0.25em ;
    background: white;
}

.gwt-DialogBox .Content table {
    filter: alpha(opacity=100); /* Fixes rendering issues in IE7 */
}

.title{
	width: 1000px;
	float: center;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}
.heading1{
	width: 1000px;
	float: left;
	font-size: 13px;
	margin-left: 10px;
	font-weight: bold;	
}
.button{

	background-color: #EFEDFC;
	text-align: center;
	border:1px solid #ccc;
	cursor: pointer;
	font: normal small Tahoma;

}
.checkBox{
	border:1px solid #ccc;
}
.PropTable {
	width: 600px;
	float: center;
	text-align: center;
	padding: 0px;
	margin: 0;
	
}
.PropTextBox{
	background-color: #f1f3a2;
	border: 0.5px;
	font-color: #000000;
	float: left;
	text-align: left;
}
.MainTextBox{
	border: 0px;
	color: #000000;
	float: left;
	text-align: left;
}
.MainTextBox-OddRow {
		background-color: #ddd;
}

.MainTextBox-EvenRow {
	background-color:  #eee;
}
.FlexTable {
	width: 1030px;
	border-top: thin solid #444444;
	border-left: thin solid #444444;
 		border-right: thin solid #111111;
 		border-bottom: thin solid #111111;
 		background-color:  #C3D9FF;
 		float: center;
 		text-align: center;
 		font-weight: bold;
	font-size: small;
	font-family: Tahoma;
}

.FlexTable-OddRow {
		background-color: #ddd;
}

.FlexTable-EvenRow {
	background-color:  #eee;
}
.FlexTable-HeaderRow {
	background-color:  #6f93ce;
}

.FlexTable-ColumnLabel {
 		color: white;
 		float: center
}

.FlexTable-ColumnLabelCell {
 		border-style: solid;
 		border-color: white;
 		margin: 0;
 		padding: 0;
 		text-align: center;
}

.FlexTable-Cell {
 		border-style: solid;
 		border-color: white;
 		padding: 5px;
}
.MainPropTable {
	text-align: left;
}
.PropLabel {
	font-family:Tahoma;
	font-size: small;
	font-weight: normal;
}

.Orcad-AlertBottom {
    background-color: #f0f0f0;
    height: 3.2em;
}

.orcad-AlertIcon {
    height: 5em;
    width: 5em;
}

.Orcad-SubmitButton {

    width:  8em;
    height: 1.9em;
    font-size: small;

}

