/** Add css rules here for your application. */


.Orcad-StaticText {
	text-align:left;
	font-weight: bold;
}

.Orcad-StaticText2 {
	width: 150px;
	text-align:left;
}

.Orcad-Panel {
	/*border:2px solid black;*/
	margin-top:20px;
}

.sdl-TextBox-readonly {
	color: grey;
}