h3
{
	background-color:#E6E6FA;
}

a:hover
{
	background-color:blue;
	color:white;
}

li
{
	list-style-type:circle;
}

.TimeFormat
{
	color:#483D8B;
	text-align:right;
	font-style:normal;
	font-size:90%;
}