.orprm-slider-widget {
    width: 350px;
    height: 0px;
    z-index: 100;
    overflow: hidden;
    display: none;
    padding: 0.8em;
}

.orprm-slider-value {
    padding: 0;
    width: 30px;
}

.orprm-slider { 
    padding: 0; 
}

