/** Add css rules here for your application. */

.OrcadTreeNode {
	white-space: nowrap;
	color: black;
	font: normal x-small Verdana, Geneva, sans-serif;
	background-color: white;
	border: 1px dotted white;
	
}

.OrcadTreeNodeOnSelect {
	background-color: #DBEBFF;
	cursor: pointer;
	white-space: nowrap;
	border: 1px dotted black;
	font: normal x-small Verdana, Geneva, sans-serif;
}
.OrcadTreeNodeOnDeselect {
	background-color: white;
	font: normal x-small Verdana, Geneva, sans-serif;
	white-space: nowrap;
	cursor: auto;
	border: 1px dotted white;
}

.OrcadTreeNodeOnMouseMove {
	background-color: #ECF4FF;
	font: normal x-small Verdana, Geneva, sans-serif;
	white-space: nowrap;
	cursor: pointer;
	border: 1px dotted white;
}

.OrcadExpandCollapseButton{
	background-color: #EFEDFC;
	text-align: center;
	border:1px solid #ccc;
	vertical-align: middle;
	cursor: pointer;
	font: normal x-small Verdana, Geneva, sans-serif;
}

.OrcadLeafButton{
	
	text-align: center;
	border:1px solid #ccc;
	vertical-align: middle;
	font: normal x-small Verdana, Geneva, sans-serif;
}

.OrcadPanel {
	border:1px solid #ccc;
}

.OrcadSplitPanel {
	border:1px solid #ccc;
}

.OrcadTextBox {
	vertical-align: middle;
	font: normal x-small Verdana, Geneva, sans-serif;
	color: black;
}

.OrcadTextBoxError {
	vertical-align: middle;
	font: normal x-small Verdana, Geneva, sans-serif;
	color: red;
}


