p {margin-left:20px;}
table {text-align: center; vertical-align: middle; font-family: tahoma; font-size:small}

td.paramt_n
{
	text-align: right;
	letter-spacing: normal;
	vertical-align: middle;
	width:296px;
	color:  black;
	  
}
td.paramt_v
{
	text-align: center;
	letter-spacing: normal;
	vertical-align: middle;
	width:216px;
	color:black;
		  
}
.txt {overflow-y: scroll}
.cc{position:absolute; width:100px;}
.rs{position:absolute;width:100px}
.gm {position:absolute;width:100px}


.wraptocenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 164;
    height: 100;
    
}
.wraptocenter * {
    vertical-align: middle;
}

table.side			{border-collapse:collapse; position:absolute;left:10px;top:70px;  text-align:center;font-variant:small-caps; width:200px;height: 440px;}
table.top			{display: inline;position:absolute;top:10px;left:10px; text-align: center;vertical-align: middle;width: 1190px;height: 60px; }
table.main_top		{position:absolute;top:70px;left:210px;text-align: justify;vertical-align:top;width: 650px;height: 200px;background-color: white; padding:20}
table.main_top_img	{position:absolute;top:70px;left:870px;text-align: justify;vertical-align: top;width: 300px;height: 200px;background-color: white; }
table.main_mid		{position:absolute;top:270px;left:210px;text-align: center;vertical-align: top;width: 520px;height: 240px;background-color: white}
.main_mid2			{position:absolute;top:270px;left:770px;text-align: justify;vertical-align: top;width: 440px;height: 240px;background-color: white;border-width:thin}
table.main_bottom	{position:absolute;top:510px;left:830px;text-align: justify;vertical-align: top;width: 360px;height: 80px;background-color: white; }
td.button			{vertical-align:  middle;}
table.main_ov		{position:absolute;top:70px;left:210px;text-align: justify;vertical-align: middle ;width: 980px;height: 410px;background-color: white;}