/** Add css rules here for your application. */


.Orcad-PushButton {
	width: 15%;
}

.Orcad-HoriPanel {
	margin: 100px;	
}

/*.Orcad-StaticText {
	text-align:left;
}*/

.Orcad-StaticText-readOnly {
	color: lightgrey;
	border: none;
}

.ibis-Label {
    color: block;
}

.ibis-Label-readOnly {
	color: grey;
	border: none;
}

.ibis-StaticText-Bold {
	margin:0;
	padding:0;
	font-weight: bold;
}

.Orcad-SmallTextbox {
	width: 30px;
}

.ibis-Panel {
/*	border:1.5px solid black; */
	margin-top:20px;
	margin-bottom:20px;
	margin-right:10px;
	margin-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:5px;
	padding-left:5px;
}

.ibis-PopupPanelGlass {
	background-color: #000;
	opacity: 0.3;
	filter: alpha(opacity = 30);
}
