/* Copyright Cadence Design Systems 2012 */
/* Common stylesheet for OrCAD Applications */

/* set jQueryUI font size to 0.8em */
.ui-widget { font-size: 0.8em; }

body, table td, select, button {
    font-family: Tahoma;
    font-size: small;
    margin: 0px !important;
    padding: 0px !important;
}

pre {
    font-family: Tahoma;
    font-size: small;
}

body {
    color: black;
    margin: 0.625em;
    background: #f0f0f0;
    direction: ltr;
}

a, a:visited {
    color: #0066cc;
    text-decoration:none;
}

a:hover {
    color: #0066cc;
    text-decoration:underline;
}

select {
    background: white;
}

/**
 * The reference theme can be used to determine when this style sheet has
 * loaded.  Create a hidden div element with absolute position, assign the style
 * name below, and attach it to the DOM.  Use a timer to detect when the
 * element's height and width are set to 0.3125em.
 */
.gwt-Reference-clean {
    height: 0.3125em;
    width: 0.3125em;
    zoom: 1;
}


.gwt-CheckBox {
    width: 1em;
    height: 1em;
}
.gwt-CheckBox-disabled {
    color: #888;
}

.gwt-TabPanelBottom {
    border-color: #898C95;
    border-style: solid;
    border-width: 0.0625em 0.0625em 0.0625em 0.0625em;
    overflow: hidden;
}

.Orcad-TabPanel {
    width: 30em;
    height: 12em;
    border: ButtonShadow;
    background-color: ButtonFace;
}

.gwt-TabBar {
    background-color: #EEEEEE;
}

.gwt-TabBar .gwt-TabBarFirst {

}

.gwt-TabBar .gwt-TabBarRest {

}

.gwt-TabBar .gwt-TabBarItem {
    cursor: default;
    text-align: center;
    background: white url(images/TabBackground.png) repeat-x;
    height: 1.4em;
    line-height: 1.4em;
    width: 8em;
    border-left: 0.0625em solid #898C95 ;
    border-right: 0.0625em solid #898C95 ;
    border-top: 0.0625em solid #898C95 ;

}

.gwt-TabBar .gwt-TabBarItem-selected {
    width: 8em;
    height: 1.6em;
    background: #f0f0f0;
    background-color: #F0F0F0;
    border-bottom: 0.0625em solid #898C95
    line-height: 1.7em;

}

.gwt-TabBar .gwt-TabBarItem:hover {
    background: white url(images/TabHover.png) repeat-x;
    border-right: 0.0625em solid #3c7fb1 ;
    border-top: 0.0625em solid #3c7fb1 ;
    border-left: 0.0625em solid #3c7fb1 ;
}


.gwt-TabBar .gwt-TabBarItem-selected:hover {
    background: #f0f0f0;
    border-right: 0.0625em solid #898C95 ;
    border-top: 0.0625em solid #898C95 ;
}


.Orcad-MainPanel {
    background-color: #F0F0F0;
}


.Orcad-DestinationTextBox {
    vertical-align: middle;
    font:Tahoma;
    color: black;
    width: 23em;
    height: 1.3em;
}

.Orcad-ErrorTextBox {
    vertical-align: middle;
    font:Tahoma;
    color: #FF6666;
    width: 23em;
    height: 1.3em;
}


.Orcad-DeckPanel {
    width: 30em;
    height: 12em;

}

.Orcad-ScrollPanel {
    width: 30em;
    height: 12em;

}

.Orcad-InfoLabel {
    color: #FF6666;
}


.gwt-DialogBox {
    border: 0.2em solid #b4cde6;
}

.gwt-DialogBox .Caption {
    background: #b4cde6;
    padding: 0.35em 0.3em 0.3em 0.3em;
    cursor: default;
    border-bottom: 0.0625em solid #bbbbbb;
}

.gwt-DialogBox .Content {
    background: white;
}

.gwt-DialogBox .dialogMiddleCenter {
    padding: 0.25em ;
    background: white;
}

.gwt-DialogBox .Content table {
    filter: alpha(opacity=100); /* Fixes rendering issues in IE7 */
}

.gwt-PopupPanelGlass {
    background-color: #fff;
    opacity: 0.3;
    filter: alpha(opacity=0);
}

.Orcad-SubmitButton {

    width:  5em;
    height: 1.9em;
    font-size: small;

}

.Orcad-BrowseButton{
    width:  1.9em;
    height: 1.9em;
    line-height: 1.0em;
    font-size: small;
}

.Orcad-RootPanel {
    background-color: #f0f0f0;
}


.Orcad-AlertBottom {
    background-color: #f0f0f0;
    height: 3.2em;
}

.orcad-AlertIcon {
    height: 5em;
    width: 5em;
}


