#back-btn
{
	list-style-image: url("chrome://diff3rptViewer/skin/default/img/back.gif");
}
#fwd-btn
{
	list-style-image: url("chrome://diff3rptViewer/skin/default/img/fwd.gif");
}
#save-btn
{
	list-style-image: url("chrome://diff3rptViewer/skin/default/img/save.gif");
}
#print-btn
{
	list-style-image: url("chrome://diff3rptViewer/skin/default/img/print.gif");
}
#close-btn
{
	list-style-image: url("chrome://diff3rptViewer/skin/default/img/close.gif");
}
#toolbar *[disabled="true"]
{
    -moz-image-region: rect(24px, 24px, 48px, 0px);
}
#toolbar *[disabled="false"]
{
    -moz-image-region: rect(0px, 24px, 24px, 0px);
}
